#colours li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em
}

.system {
    position: absolute;
    top: 50px;
    background: #41a5dd;
    right: 50px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

circle, path {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;   
}

#iconmodal {
    text-align: center;
}

.hint {
    border: 1px solid #D8D8D8;
    padding: 30px;
    margin-bottom: 60px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.hint p, .hint a {
    color: white !important;
}

#iconmodal .b {
    margin-bottom: 30px;
    padding: 10px;
}

#iconmodal .b.w {
    background: #41A5DD;
    border-radius: 4px;
}

#iconmodal .sel {
    margin-bottom: 30px;
}

#iconmodal .sel select {
    width: 40%;
    padding: 10px 30px 10px 10px;
}

#iconmodal svg, #iconmodal img {
    width: 200px;
    margin: 0 auto;
}

.note {
    background: pink;
}

.ru {
    margin-top: 40px;
}

.filters-select {
    min-height: 60px;
    padding: 16px 20px;
    border: 1px solid #909090;
    border-radius: 4px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 0.3px;
    color: #909090;
}

.quicksearch {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .quicksearch {
        width: 70% !important;
    }

    .filters-select {
        width: calc(100% - (70% + 40px));
        margin-left: 30px;
    }
}

@media (max-width: 767.98px) {
    .filters-select {
        margin-bottom: 30px;
    }
}

.element-item {
    text-align: center;
    position: relative;
    float: left;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) {
    .element-item {
        width: calc(100% / 6);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .element-item {
        width: calc(100% / 5);
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .element-item {
        width: calc(100% / 4);
    }
}

.element-item img {
    padding-top: 30px;
}

.element-item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.flat {
    margin: 0;
}

@media (max-width: 767.98px) {
    .element-item {
        width: calc(100% / 3);
    }
}

.element-item:hover {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.element-item p {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 0.8rem;
}

.loz {
    background: #FFFFFF;
    border-radius: 90px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 12.64px;
    line-height: 23px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #41A5DD;
    display: inline-block;
    padding: 0 25px;
    margin-bottom: 20px;
}

.ru li:not(:last-of-type) {
    margin-bottom: 15px;
}

.pictonblue path, .black path, .image path, .bluewood path, .gradient path, .gradientb path {
    fill: #FFFFFF;
     -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

figure.gradient:before, .swatch.gradient:before {
    content: '';
    background: rgba(65,165,221,0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.gradientb:before, .swatch.gradientb:before {
    content: '';
    background: rgba(43, 67, 79, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.white {
    background: #ffffff;
}

.ss:not(:last-of-type) {
    margin-bottom: 60px;
}

.sienna {
    background: #e59558;
}

.pineapple {
    background: #e5c45d;
}

.quill {
    background: #e6e3df;
}

.apple {
    background: #bbe39d;
}

.seagull {
    background: #8aceec;
}

.indigo {
    background: #4960c5;
}


.pictonblue {
    background: #41a5dd;
}

.filters {
    margin-bottom: 60px;
}

.filters button {
    width: calc(100% / 9);
    background: #41A5DD;
    border-radius: 4px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 3px;
}

.filters button.is-checked, .filters button:first-of-type {
    background: #006091;
}

.haze {
    background: #EEF2F5;
    border: 1px solid #D8D8D8;
}

.bahama {
    background: #006091;
}

.biscay {
    background: #1E4C71;
}

.malibu {
    background: #76C7F2;
}

.steel {
    background: #4A82AD;
}

.grow {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.matisse {
    background: #217599;
}

.york {
    background: #00909A;
}

.comet {
    background: #6C639B;
}

.wisteria {
    background: #9B76B1;
}

.atlantis {
    background: #8CDD7D;
}

.evening {
    background: #00B992;
}

.elm {
    background: #1b7a83;
}

.tradewind {
    background: #5BADB3;
}

.aqua {
    background: #A8D0DB;
}

.glacier {
    background: #6D9DBF;
}

.persimmon {
    background: #E55812;
}

.pine {
    background: #3ACC8A;
}

.bahama {
    background: #006091;
}

.curious {
    background: #2788BE;
}

.tango {
    background: #ef6c24;
}

.tropical {
    background: #B8336A;
}

.scorpion {
    background: #292929;
}

.boulder {
    background: #909090;
}

.silver {
    background: #BCBCBC;
}

.alto {
    background: #D8D8D8;
}

.punch {
    background: #DC493A;
}

.alabaster {
    background: #F7F7F7;
}

.carnation {
    background: #F74F64;
}

.amber {
    background: #FFCC33;
}

.lima {
    background: #70C216;
}

.carrot {
    background: #FFA233;
}

.sycamore {
    background: #947B32;
}

.blush {
    background: #EC9AA3;
}

.fern {
    background: #4F7324;
}

.corn {
    background: #FAE191;
}

.celery {
    background: #B3D97F;
}

.manhattan {
    background: #F6C98E;
}

.port {
    background: #89363E;
}

.fawn {
    background: #91632D;
}

.bluewood {
    background: #2B434F;
}

.l-controls {
    margin: 60px 0 30px 0;
}

.l-controls-example {
     -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.l-controls li {
    display: inline-block;
    vertical-align: middle;
}

.l-controls li:not(:last-of-type) {
    margin-right: 30px;
}

.swatch {
    position: relative;
    overflow: hidden;
    width: 45px;
    height: 45px;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 3px 2px #292929000;
    box-shadow: 3px 2px #292929000;
}

.cotton {
    background: #FFFFFF;
}

.black {
    background: #000000;
}

.whale {
    background: #043c63;
}

.color {
    max-width: 70px;
    width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

figure img, figure svg {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.cheading {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.typespec {
    margin: 0;
}

.typespec.bx {
    background: white;
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.typespec.light {
    font-weight: 300 !important;
}

.typespec.regular {
    font-weight: 400 !important;
}

.typespec.medium {
    font-weight: 500 !important;
}

.typespec.bold {
    font-weight: 700 !important;
}

.smallcopy {
    font-size: 0.79rem;
}

.dheading {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 2px;
    width: 100%;
    margin: 0 0 10px 0;
}

@media (min-width: 576px) {
    .color:after, .img:after {
      content: "";
      display: block;
      padding-bottom: 100%;
      height: 0;
    }

    figure.fl img, figure.fl svg, figure.sixteen img, figure.sixteen svg {
        max-height: 15%;
        max-width: 80%;
    }
}

@media (max-width: 575.98px) {
    figure.sixteen:after, figure.full:after {
        content: "";
        display: block;
        padding-bottom: 100%;
        height: 0;
    }

    figure.fl img, figure.fl svg, figure.sixteen img, figure.sixteen svg {
        max-height: 60%;
    }
}

@media (min-width: 576px) {
    figure.sixteen:after, figure.full:after {
        padding-bottom: 56.25%;
        height: 0;
        content: "";
        display: block;
    }
}

@media (min-width: 1200px) {
    .AnyVan-iframe-wrapper .AnyVan-sidebar__nav a {
        font-size: 0.833em;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .AnyVan-iframe-wrapper .AnyVan-sidebar__nav a {
        font-size: 1em;
    }
}

@media (max-width: 991.98px) {
    .AnyVan-iframe-wrapper .AnyVan-sidebar__nav a {
        font-size: 1.05em;
    }
}

.square .img:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.img {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.img img {
    position: absolute;
    z-index: 90;
}

.list-styleguide p {
    margin-bottom: 0;
}

.list-styleguide > li p {
    letter-spacing: 0.3px;
    margin-top: 10px;
}

.list-styleguide, .list-styleguide ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    position: static;
}

.list-styleguide:not(:last-of-type), .list-styleguide ul:not(:last-of-type) {
    margin-bottom: 30px;
}

.c li {
    text-align: center !important;
}

.list-styleguide > li {
    display: inline-block;
    vertical-align: top;
}

.list-styleguide > li:not(:last-of-type) {
    margin-bottom: 30px;
}

figure.sixteen, figure.full {
    position: relative;
    text-align: center;
}

figure.sixteen .inner {
    position: absolute;
    width: 100%;
    z-index: 0;
    height: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

figure.full .inner {
    position: absolute;
    width: 100%;
    z-index: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

@media (max-width: 575.98px) { 
    .list-styleguide > li {
        width: 100%;
    }

    .square > li {
        width: calc(50% - 20px);
    }

    .square > li:nth-child(odd) {
        margin-right: 30px;
    }

    .color {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }
}

ul.list {
    list-style: disc;
    margin-bottom: 30px;
    margin-left: 30px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .list-styleguide > li {
        width: 20%;
    }

    .list-styleguide > li:not(:nth-child(3n)) {
        margin-right: 60px;
    }

    .list-styleguide > li:nth-last-child(-n+5) {
        margin-bottom: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .list-styleguide > li {
        width: 20%;
    }

    .list-styleguide > li:not(:nth-child(3n)) {
        margin-right: 60px;
    }

    .list-styleguide > li:nth-last-child(-n+3) {
        margin-bottom: 0 !important;
    }
}

@media (min-width: 992px) {
    .navigation__link_m {
        display: none !important;
    }

    .list-styleguide > li {
        width: calc((100% / 3) - 80px);
    }

    .list-styleguide > li:not(:nth-child(3n)) {
        margin-right: 80px;
    }

    .list-styleguide > li:nth-last-child(-n+3) {
        margin-bottom: 0 !important;
    }
}

.list-styleguide > li li:not(:last-of-type) {
    margin-bottom: 5px;
}
    
.list-styleguide > li span:first-of-type {
    width: 20%;
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    text-transform: uppercase;
}

p + .meta {
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.6px;
    line-height: 1;
}

.list-styleguide .details {
    margin-top: 20px;
    font-size: 14px;
}

#next {
    background: white;
    padding: 100px 0;
    display: inline-block;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}

#next h4 {
    margin: 0;
}

#next:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #41a5dd;
    color: white;
}

#next span {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.833em;
}

.AnyVan-sidebar .AnyVan-sidebar__nav {
    margin-top: 70px;
}

.AnyVan-iframe-wrapper .AnyVan-sidebar__nav a {
    display: inline-block;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    opacity: 1;
    font-weight: 600;
    padding: 10px;
}

@media (max-width: 991.98px) {
    .AnyVan-iframe-wrapper .AnyVan-sidebar__nav {
        border: 1px solid #292929;
        z-index: 0;
        max-width: calc(100% - 60px);
        margin-right: 30px;
        margin-left: 30px;
        border-radius: 4px;
        overflow: hidden;
    }

    .AnyVan-iframe-wrapper .AnyVan-sidebar__nav ul {
        max-height: 0;
        padding-left: 30px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .AnyVan-iframe-wrapper .AnyVan-sidebar__nav ul.act {
        max-height: 600px;
        overflow-y: scroll;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .AnyVan-iframe-wrapper .AnyVan-sidebar__nav {
        margin-bottom: 70px;
    }

    .AnyVan-iframe-wrapper .AnyVan-sidebar__nav a {
        line-height: 50px;
        color: #292929 !important;
    }
}

.AnyVan-iframe-wrapper .AnyVan-sidebar__nav a:hover, .AnyVan-iframe-wrapper .AnyVan-sidebar__nav a.active {
    opacity: 1 !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #41a5dd;
}

.font-AnyVan {
    font-family: 'AnyVanAvantGardeBold', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: normal
}

.font-galaxie {
    font-family: 'Galaxie', Helvetica, Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: normal
}

.p1,
.p2 {
    padding-right: 20%
}

.p3 {
    font-size: 15px;
    line-height: 1.8;
    color: #666;
    margin-top: 3em
}

#typography h1,
#typography h2,
#typography h3,
#typography h4,
#typography h5,
#typography h6,
#typography p {
    margin-top: 0
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

ul.list_AnyVan li {
    padding-left: 20px;
    position: relative
}

ul.list_AnyVan li::before {
    content: '▶';
    font-size: 11px;
    top: 4px;
    color: #41a5dd;
    position: absolute;
    left: 0
}

ol.list_AnyVan {
    counter-reset: item
}

ol.list_AnyVan li {
    padding-left: 30px;
    position: relative
}

ol.list_AnyVan li::before {
    content: counters(item, ".") " ";
    counter-increment: item;
    top: 0;
    color: #41a5dd;
    position: absolute;
    left: 0
}

#forms form {
    margin: 0 0 1rem
}

#forms form .row .row {
    margin: 0 -0.5rem
}

#forms form .row .row .column,
#forms form .row .row .columns {
    padding: 0 0.5rem
}

#forms form .row .row.collapse {
    margin: 0
}

#forms form .row .row.collapse .column,
#forms form .row .row.collapse .columns {
    padding: 0
}

#forms form .row .row.collapse input {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

#forms form .row input.column,
#forms form .row input.columns,
#forms form .row textarea.column,
#forms form .row textarea.columns {
    padding-left: 0.5rem
}

#forms label {
    font-size: 0.875rem;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0
}

#forms label.right {
    float: none!important;
    text-align: right
}

#forms label.inline {
    margin: 0 0 1rem 0;
    padding: 0.5625rem 0
}

#forms label small {
    text-transform: capitalize;
    color: #676767
}

#forms .prefix,
#forms .postfix {
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    font-size: 0.875rem;
    height: 2.3125rem;
    line-height: 2.3125rem
}

#forms .postfix.button {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    line-height: 2.125rem;
    border: none
}

#forms .prefix.button {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    line-height: 2.125rem;
    border: none
}

#forms .prefix.button.radius {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

#forms .postfix.button.radius {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}

#forms .prefix.button.round {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px
}

#forms .postfix.button.round {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px
}

#forms span.prefix,
#forms label.prefix {
    background: #f2f2f2;
    border-right: none;
    color: #333;
    border-color: #ccc
}

#forms span.postfix,
#forms label.postfix {
    background: #f2f2f2;
    border-left: none;
    color: #333;
    border-color: #ccc
}

#forms input[type="text"],
#forms input[type="password"],
#forms input[type="date"],
#forms input[type="datetime"],
#forms input[type="datetime-local"],
#forms input[type="month"],
#forms input[type="week"],
#forms input[type="email"],
#forms input[type="number"],
#forms input[type="search"],
#forms input[type="tel"],
#forms input[type="time"],
#forms input[type="url"],
#forms input[type="colour"],
#forms textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background-color: white;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.45s, border-colour 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-colour 0.45s ease-in-out
}

#forms input[type="text"]:focus,
#forms input[type="password"]:focus,
#forms input[type="date"]:focus,
#forms input[type="datetime"]:focus,
#forms input[type="datetime-local"]:focus,
#forms input[type="month"]:focus,
#forms input[type="week"]:focus,
#forms input[type="email"]:focus,
#forms input[type="number"]:focus,
#forms input[type="search"]:focus,
#forms input[type="tel"]:focus,
#forms input[type="time"]:focus,
#forms input[type="url"]:focus,
#forms input[type="colour"]:focus,
#forms textarea:focus {
    box-shadow: 0 0 5px #999;
    border-color: #999
}

#forms input[type="text"]:focus,
#forms input[type="password"]:focus,
#forms input[type="date"]:focus,
#forms input[type="datetime"]:focus,
#forms input[type="datetime-local"]:focus,
#forms input[type="month"]:focus,
#forms input[type="week"]:focus,
#forms input[type="email"]:focus,
#forms input[type="number"]:focus,
#forms input[type="search"]:focus,
#forms input[type="tel"]:focus,
#forms input[type="time"]:focus,
#forms input[type="url"]:focus,
#forms input[type="colour"]:focus,
#forms textarea:focus {
    background: #fafafa;
    border-color: #999;
    outline: none
}

#forms input[type="text"]:disabled,
#forms input[type="password"]:disabled,
#forms input[type="date"]:disabled,
#forms input[type="datetime"]:disabled,
#forms input[type="datetime-local"]:disabled,
#forms input[type="month"]:disabled,
#forms input[type="week"]:disabled,
#forms input[type="email"]:disabled,
#forms input[type="number"]:disabled,
#forms input[type="search"]:disabled,
#forms input[type="tel"]:disabled,
#forms input[type="time"]:disabled,
#forms input[type="url"]:disabled,
#forms input[type="colour"]:disabled,
#forms textarea:disabled {
    background-color: #ddd;
    cursor: default
}

#forms input[type="text"][disabled],
#forms input[type="text"][readonly],
#forms fieldset[disabled] input[type="text"],
#forms input[type="password"][disabled],
#forms input[type="password"][readonly],
#forms fieldset[disabled] input[type="password"],
#forms input[type="date"][disabled],
#forms input[type="date"][readonly],
#forms fieldset[disabled] input[type="date"],
#forms input[type="datetime"][disabled],
#forms input[type="datetime"][readonly],
#forms fieldset[disabled] input[type="datetime"],
#forms input[type="datetime-local"][disabled],
#forms input[type="datetime-local"][readonly],
#forms fieldset[disabled] input[type="datetime-local"],
#forms input[type="month"][disabled],
#forms input[type="month"][readonly],
#forms fieldset[disabled] input[type="month"],
#forms input[type="week"][disabled],
#forms input[type="week"][readonly],
#forms fieldset[disabled] input[type="week"],
#forms input[type="email"][disabled],
#forms input[type="email"][readonly],
#forms fieldset[disabled] input[type="email"],
#forms input[type="number"][disabled],
#forms input[type="number"][readonly],
#forms fieldset[disabled] input[type="number"],
#forms input[type="search"][disabled],
#forms input[type="search"][readonly],
#forms fieldset[disabled] input[type="search"],
#forms input[type="tel"][disabled],
#forms input[type="tel"][readonly],
#forms fieldset[disabled] input[type="tel"],
#forms input[type="time"][disabled],
#forms input[type="time"][readonly],
#forms fieldset[disabled] input[type="time"],
#forms input[type="url"][disabled],
#forms input[type="url"][readonly],
#forms fieldset[disabled] input[type="url"],
#forms input[type="colour"][disabled],
#forms input[type="colour"][readonly],
#forms fieldset[disabled] input[type="colour"],
#forms textarea[disabled],
#forms textarea[readonly],
#forms fieldset[disabled] textarea {
    background-color: #ddd;
    cursor: default
}

#forms input[type="text"].radius,
#forms input[type="password"].radius,
#forms input[type="date"].radius,
#forms input[type="datetime"].radius,
#forms input[type="datetime-local"].radius,
#forms input[type="month"].radius,
#forms input[type="week"].radius,
#forms input[type="email"].radius,
#forms input[type="number"].radius,
#forms input[type="search"].radius,
#forms input[type="tel"].radius,
#forms input[type="time"].radius,
#forms input[type="url"].radius,
#forms input[type="colour"].radius,
#forms textarea.radius {
    border-radius: 3px
}

#forms form .row .prefix-radius.row.collapse input,
#forms form .row .prefix-radius.row.collapse textarea,
#forms form .row .prefix-radius.row.collapse select {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}

#forms form .row .prefix-radius.row.collapse .prefix {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

#forms form .row .postfix-radius.row.collapse input,
#forms form .row .postfix-radius.row.collapse textarea,
#forms form .row .postfix-radius.row.collapse select {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

#forms form .row .postfix-radius.row.collapse .postfix {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}

#forms form .row .prefix-round.row.collapse input,
#forms form .row .prefix-round.row.collapse textarea,
#forms form .row .prefix-round.row.collapse select {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px
}

#forms form .row .prefix-round.row.collapse .prefix {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px
}

#forms form .row .postfix-round.row.collapse input,
#forms form .row .postfix-round.row.collapse textarea,
#forms form .row .postfix-round.row.collapse select {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px
}

#forms form .row .postfix-round.row.collapse .postfix {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px
}

#forms input[type="submit"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0
}

#forms textarea[rows] {
    height: auto
}

#forms textarea {
    max-width: 100%
}

#forms select {
    -webkit-appearance: none!important;
    -webkit-border-radius: 0;
    background-color: #fafafa;
    background-position: 100% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    border-radius: 0;
    height: 2.3125rem
}

#forms select::-ms-expand {
    display: none
}

#forms select.radius {
    border-radius: 3px
}

#forms select:hover {
    background-color: #f3f3f3;
    border-color: #999
}

#forms select:disabled {
    background-color: #ddd;
    cursor: default
}

#forms input[type="file"],
#forms input[type="checkbox"],
#forms input[type="radio"],
#forms select {
    margin: 0 0 1rem 0
}

#forms input[type="checkbox"]+label,
#forms input[type="radio"]+label {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: baseline
}

#forms input[type="file"] {
    width: 100%
}

#forms fieldset {
    border: 1px solid #ddd;
    padding: 1.25rem;
    margin: 1.125rem 0
}

#forms fieldset legend {
    font-weight: bold;
    background: white;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem
}

#forms [data-abide] .error small.error,
#forms [data-abide] .error span.error,
#forms [data-abide] span.error,
#forms [data-abide] small.error {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #c60f13;
    color: white
}

#forms [data-abide] span.error,
#forms [data-abide] small.error {
    display: none
}

#forms span.error,
#forms small.error {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #c60f13;
    color: white
}

#forms .error input,
#forms .error textarea,
#forms .error select {
    margin-bottom: 0
}

#forms .error input[type="checkbox"],
#forms .error input[type="radio"] {
    margin-bottom: 1rem
}

#forms .error label,
#forms .error label.error {
    color: #c60f13
}

#forms .error small.error {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #c60f13;
    color: white
}

#forms .error>label>small {
    color: #676767;
    background: transparent;
    padding: 0;
    text-transform: capitalize;
    font-style: normal;
    font-size: 60%;
    margin: 0;
    display: inline
}

#forms .error span.error-message {
    display: block
}

#forms input.error,
#forms textarea.error,
#forms select.error {
    margin-bottom: 0
}

#forms label.error {
    color: #c60f13
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px
}

select {
    width: 100%
}

#forms fieldset {
    margin-top: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb
}

table caption {
    color: #292929;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center
}

table td,
table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em
}

table th {
    font-family: 'AnyVanAvantGardeBold', Helvetica, Arial, sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #cbcbcb
}

table td:first-child,
table th:first-child {
    border-left-width: 0
}

table thead {
    background: #e0e0e0;
    color: #292929;
    text-align: left;
    vertical-align: bottom
}

table tr:nth-child(2n-1) td {
    background-color: #f8f8f8
}

table td {
    border-bottom: 1px solid #cbcbcb
}

#tables table {
    width: 90%
}